body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF;
    margin-bottom: 20px;
    height: 70px;
    padding: 10px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .logo {
    height:  40px;
}

header .button-acessar {
    background-color: #F5AA64;
    border-color: #FFF;
    outline-color: #F5AA64;
    
}

header .button-acessar:hover {
    background-color: #F5AA64;
    border-color: #FFF;
}

header .button-acessar:focus {
    box-shadow: 0 0 0 0.1rem #F5AA64;
    outline-color: #F5AA64;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding: 15px;
}

main.container_content {
    margin: 0 auto;
    width: 87%;
}

div.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


div.sobre-container .subtitle img {
    object-fit: contain;
    border-radius: 4px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 100px;
    margin-right: 1rem;
}

div.sobre-container .title {
    font-size: 2rem;
}

div.sobre-container .subtitle {
    align-self: flex-start;
    font-size: 1.5rem;
    display: flex;
}