body {
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "aside content";
    height: 100vh;
    margin: 0;
}


header.header {
    grid-area: header;
    margin-bottom: 0;
    height: 60px;
    padding: 5px 30px;
    
    background-color: #262a31;
}
header.header .toggleBtn {
    height: 35px;
    width: 35px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    outline: none;
    border: none;
    background-color: rgba(54, 58, 66, 1);
}
header.header .toggleBtn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


header.header .logo {
    height: 30px;
}


aside {
    grid-area: aside;
    background-color: white;
    width: 300px;
    padding: 0px 2px;
    overflow-y: auto;
    
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

aside.hidden {
    width: 1px;
}

aside.hidden form {
    display: none;
}

aside div.menu {
    width: 100%;
    padding: 0;
    color: white;
    
    border-radius: 0;
    
    border-right: 0;
    border-left: 0;
}

div.content {
    grid-area: content;
    padding: 5px;
    
    background-color: #F5F5F5;
    overflow: auto;
    height: calc(100vh - 60px);
    
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: linear;
}

@media (max-width: 1024px) {
    aside {
        height: calc(100vh - 60px);
        top: 60px;
        
        position: absolute;
        z-index: 999;
    }
}